<h1 class="title center"><a href="">Is GoldFish still a cuck?</a></h1>
<p class="center main-text">掳掳掳路.掳路..路掳炉掳路._.路 拣 路._.路掳炉掳路.路掳 .路掳掳掳</p>







<script>
    $(document).ready(function() {
        $('.title').on("click", function(e) {
            e.preventDefault();
            $('.main-text').css('display', 'block');
        })
    })
</script>